In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
#define options and set browser capabilities
ops=webdriver.ChromeOptions()

In [9]:
#create webDriver insatnce with options
driver=webdriver.Chrome(options=ops)

In [17]:
# Navigate to a website
driver.get('https://www.amazon.in/')

In [18]:
search=driver.find_element(By.ID,"twotabsearchtextbox")

In [19]:
search.send_keys(" dell laptops")

In [20]:
search.send_keys(Keys.ENTER)

In [21]:
model=driver.find_elements(By.XPATH,".//span[@class='a-size-medium a-color-base a-text-normal']")
models=[i.text for i in model]
len(models)

22

In [25]:
price=driver.find_elements(By.XPATH,".//span[@class='a-price-whole']")
prices=[i.text for i in price]
print(prices)
len(prices)

['42,990', '74,990', '48,900', '34,990', '49,990', '23,000', '33,990', '35,990', '24,370', '47,990', '49,990', '44,990', '35,990', '68,990', '67,980', '43,990', '34,990', '35,990', '71,490', '44,990', '17,309', '67,980', '53,650', '35,990', '57,990', '76,990', '94,990', '40,990', '35,990', '53,990']

30

In [23]:
import pandas as pd

In [24]:
laptop=pd.DataFrame(columns=["Price","Model"])
laptop

Empty DataFrame
Columns: [Price, Model]
Index: []

In [26]:
laptop['Model']=models[0:10]
laptop['Price']=prices[0:10]
laptop

    Price                                              Model
0  42,990  Dell 15 Laptop, Intel Core i3-1115G4, 8GB/1TB ...
1  74,990  Dell 14 Laptop, 12th Gen Intel Core i5-1235U P...
2  48,900  Dell Latitude 7390 Laptop, 13.3" FHD Touch Dis...
3  34,990  Dell 15 Laptop, Intel Core i3-1115G4 Processor...
4  49,990  Dell 14 Laptop, 12th Gen Intel Core i3-1215U P...
5  23,000  (Renewed) DELL Latitude 5490 Core i5 8th Gen L...
6  33,990  Dell 15 Laptop, Intel Core i5-1135G7 Processor...
7  35,990  Dell 14 Laptop, 12th Gen Intel Core i5-1235U P...
8  24,370  Dell 15 Laptop, Intel Core i5-1135G7 Processor...
9  47,990  Dell 15 Laptop, Intel 12th Gen Core i3-1215U P...

In [27]:
laptop.to_csv('Dell_Laptops.csv')

In [91]:
options=webdriver.ChromeOptions()

In [92]:
driver=webdriver.Chrome(options=options)

In [93]:
driver.get("https://www.myntra.com/")

In [94]:
search=driver.find_element(By.XPATH,"//input[@class='desktop-searchBar']")

In [95]:
search.send_keys("smart watches")

In [96]:
search.send_keys(Keys.ENTER)

In [97]:
brand=driver.find_elements(By.XPATH,".//h3[@class='product-brand']")
brands=[i.text for i in brand]
print(brands)
len(brands)

['Fire-Boltt', 'pebble', 'Fire-Boltt', 'boAt', 'NOISE', 'Fire-Boltt', 'CMF by Nothing', 'Cultsport', 'pebble', 'pebble', 'NOISE', 'Fire-Boltt', 'pebble', 'Fire-Boltt', 'pebble', 'Fire-Boltt', 'boAt', 'NOISE', 'NOISE', 'Fire-Boltt', 'boAt', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'CMF by Nothing', 'pebble', 'NOISE', 'CMF by Nothing', 'pebble', 'NOISE', 'Fire-Boltt', 'NOISE', 'Fire-Boltt', 'Fire-Boltt', 'Realme', 'NOISE', 'pebble', 'NOISE', 'Fire-Boltt', 'Fire-Boltt', 'Timex', 'NOISE', 'Fire-Boltt', 'pebble', 'boAt', 'Fire-Boltt', 'Fastrack', 'Fastrack', 'Realme', 'Fastrack']

50

In [98]:
price=driver.find_elements(By.XPATH,".//span[@class='product-discountedPrice']")
prices=[i.text for i in price]
print(prices)
len(prices)

['Rs. 1899', 'Rs. 2299', 'Rs. 3199', 'Rs. 1899', 'Rs. 1799', 'Rs. 1899', 'Rs. 3499', 'Rs. 2799', 'Rs. 1699', 'Rs. 2299', 'Rs. 2249', 'Rs. 1799', 'Rs. 2299', 'Rs. 1799', 'Rs. 1599', 'Rs. 1599', 'Rs. 1899', 'Rs. 3499', 'Rs. 1799', 'Rs. 1700', 'Rs. 1899', 'Rs. 1999', 'Rs. 1799', 'Rs. 1799', 'Rs. 3499', 'Rs. 1599', 'Rs. 1799', 'Rs. 3499', 'Rs. 2499', 'Rs. 999', 'Rs. 1899', 'Rs. 1799', 'Rs. 1850', 'Rs. 1899', 'Rs. 2499', 'Rs. 3999', 'Rs. 1599', 'Rs. 2449', 'Rs. 2199', 'Rs. 1999', 'Rs. 3497', 'Rs. 4999', 'Rs. 1699', 'Rs. 1999', 'Rs. 4799', 'Rs. 2499', 'Rs. 2495', 'Rs. 2995', 'Rs. 2499', 'Rs. 1999']

50

In [99]:
product=driver.find_elements(By.XPATH,".//h4[@class='product-product']")
products=[i.text for i in product]
print(products)
len(products)

['Cobra AMOLED Smart Watch', 'Women 1.27" Smart Watch', 'Rock AMOLED Display Smartwatch', 'Unisex Wave Genesis Smartwatch', 'Fit Posh Smartwatch', 'Supernova Bluetooth SmartWatch', 'Watch Pro', 'Ace XR 1.43" Smart Watches', 'Hive 1.39" Display Smart Watch', 'Women 1.27" Smart Watch', 'Mettle EliteEdition Smartwatch', 'Hulk 1.78 inch Smartwatch', 'Celia 1.32" Display SmartWatch', 'Eclipse Luxe 1.43" Amoled', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Starlight Bluetooth Smartwatch', 'Ultima Connect Max HD Display', 'ColorFit Vision 3 Smartwatch', 'Fit Posh Smartwatch', 'Hurricane Smartwatch', 'Ultima BT Calling Smartwatch', 'Aura BT Calling Smartwatch', 'ColorFit Icon 2 Smartwatch', 'Hulk 1.78 inch Smartwatch', 'Watch Pro', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Fit Posh Smartwatch', 'Watch Pro', 'Cosmos Quest Smartwatch', 'ColorFit Caliber Smartwatch', 'Hurricane Smartwatch', 'ColorFit Icon 2 Smartwatch', 'Hurricane Smartwatch', 'Crusader Amoled 1.43BT Calling', 'TechLife Watch S100', 'ColorFit Pro 5 Smartwatch', 'Cosmos Ultra 1.91" BT Calling Smartwatch', 'Evolve 3 Smartwatch', 'Avalanche Luxury Smart Watch', 'Eclipse Luxe 1.43" Amoled', 'FitGen Smart Watches', 'ColorFit Pro 5 Max Smartwatch', 'Grenade BT Calling Smartwatch', 'BT Calling Luxury Smartwatch', 'Enigma Z40 Smartwatch', 'Visionary TWS Smartwatch', 'Vigor HD Display Smartwatch', '1.91" HD Display Smartwatch', 'TechLife Watch S100', 'FS2 BT Calling Smartwatch']

50

In [100]:
smart=pd.DataFrame(columns=["Brand Name","Product Details","Price"])
smart

Empty DataFrame
Columns: [Brand Name, Product Details, Price]
Index: []

In [101]:
smart['Brand Name']=brands
smart['Product Details']=products
smart['Price']=prices
smart

        Brand Name                           Product Details     Price
0       Fire-Boltt                  Cobra AMOLED Smart Watch  Rs. 1899
1           pebble                   Women 1.27" Smart Watch  Rs. 2299
2       Fire-Boltt            Rock AMOLED Display Smartwatch  Rs. 3199
3             boAt            Unisex Wave Genesis Smartwatch  Rs. 1899
4            NOISE                       Fit Posh Smartwatch  Rs. 1799
5       Fire-Boltt            Supernova Bluetooth SmartWatch  Rs. 1899
6   CMF by Nothing                                 Watch Pro  Rs. 3499
7        Cultsport                Ace XR 1.43" Smart Watches  Rs. 2799
8           pebble            Hive 1.39" Display Smart Watch  Rs. 1699
9           pebble                   Women 1.27" Smart Watch  Rs. 2299
10           NOISE            Mettle EliteEdition Smartwatch  Rs. 2249
11      Fire-Boltt                 Hulk 1.78 inch Smartwatch  Rs. 1799
12          pebble            Celia 1.32" Display SmartWatch  Rs. 2299
13      Fire-Boltt                 Eclipse Luxe 1.43" Amoled  Rs. 1799
14          pebble  Cosmos Ultra 1.91" BT Calling Smartwatch  Rs. 1599
15      Fire-Boltt            Starlight Bluetooth Smartwatch  Rs. 1599
16            boAt             Ultima Connect Max HD Display  Rs. 1899
17           NOISE              ColorFit Vision 3 Smartwatch  Rs. 3499
18           NOISE                       Fit Posh Smartwatch  Rs. 1799
19      Fire-Boltt                      Hurricane Smartwatch  Rs. 1700
20            boAt              Ultima BT Calling Smartwatch  Rs. 1899
21      Fire-Boltt                Aura BT Calling Smartwatch  Rs. 1999
22           NOISE                ColorFit Icon 2 Smartwatch  Rs. 1799
23      Fire-Boltt                 Hulk 1.78 inch Smartwatch  Rs. 1799
24  CMF by Nothing                                 Watch Pro  Rs. 3499
25          pebble  Cosmos Ultra 1.91" BT Calling Smartwatch  Rs. 1599
26           NOISE                       Fit Posh Smartwatch  Rs. 1799
27  CMF by Nothing                                 Watch Pro  Rs. 3499
28          pebble                   Cosmos Quest Smartwatch  Rs. 2499
29           NOISE               ColorFit Caliber Smartwatch   Rs. 999
30      Fire-Boltt                      Hurricane Smartwatch  Rs. 1899
31           NOISE                ColorFit Icon 2 Smartwatch  Rs. 1799
32      Fire-Boltt                      Hurricane Smartwatch  Rs. 1850
33      Fire-Boltt            Crusader Amoled 1.43BT Calling  Rs. 1899
34          Realme                       TechLife Watch S100  Rs. 2499
35           NOISE                 ColorFit Pro 5 Smartwatch  Rs. 3999
36          pebble  Cosmos Ultra 1.91" BT Calling Smartwatch  Rs. 1599
37           NOISE                       Evolve 3 Smartwatch  Rs. 2449
38      Fire-Boltt              Avalanche Luxury Smart Watch  Rs. 2199
39      Fire-Boltt                 Eclipse Luxe 1.43" Amoled  Rs. 1999
40           Timex                      FitGen Smart Watches  Rs. 3497
41           NOISE             ColorFit Pro 5 Max Smartwatch  Rs. 4999
42      Fire-Boltt             Grenade BT Calling Smartwatch  Rs. 1699
43          pebble              BT Calling Luxury Smartwatch  Rs. 1999
44            boAt                     Enigma Z40 Smartwatch  Rs. 4799
45      Fire-Boltt                  Visionary TWS Smartwatch  Rs. 2499
46        Fastrack               Vigor HD Display Smartwatch  Rs. 2495
47        Fastrack               1.91" HD Display Smartwatch  Rs. 2995
48          Realme                       TechLife Watch S100  Rs. 2499
49        Fastrack                 FS2 BT Calling Smartwatch  Rs. 1999

In [102]:
smart.to_csv('Smart_watches.csv')